springfox:
  documentation:
    swagger-ui:
      enabled: true

server:
  port: 8081
  servlet:
    context-path: /easyinsurance
spring:
  datasource:
    url: jdbc:h2:mem:operadora;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: ""
  h2:
    console:
      enabled: true
      path: "/h2" 
      settings:
        web-allow-others: true
